<a href="https://colab.research.google.com/github/GuidoSomoza/DS-project/blob/main/Datasets%20conectadas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#Conexión de primer base de datos (datos de febrero2023 de 2 ecommerce "Multipoint" y "BairesIT"). Fue cargado al drive
# y subido como excel
#Como variables potenciales de interes serían: los usuarios que vuelven a comprar en la plataforma(si repiten producto categoría o ticket)
#También poder entender el crecimiento entre distintos horarios para asi poder analizar las ofertas nocturnas o diurnas
path = "data set febrero 2023.xlsx"
df1 = pd.read_excel(path)

In [ ]:
pd.DataFrame(df1)

,Id,Cod.Articulo,NombreArticulo,Fabrica,FechaCreacion,HoraCreacion,FechaModificacion,HoraModificacion,Fecha Entrega,Usuario,...,Ref. Interna,Ref. Externa,Ancho,Alto,Largo,Peso,Unidad de Medida,Unidad de Peso,Categoria,Cuotas
0,88822,SM-A536EZWAARO,Celular Samsung Galaxy A53 5G 128/6GB Awesome ...,-,2023-02-28,23:58:45,2023-02-28,23:58:45,NaN,graborzi@hotmail.com,...,NaN,NaN,8.0,17,5,0.3,Mts,Kg,Galaxy A,40
1,88822,ZEN2,Retiro en Sucursal Andreani,-,2023-02-28,23:58:45,2023-02-28,23:58:45,NaN,graborzi@hotmail.com,...,NaN,NaN,8.0,17,5,0.3,Mts,Kg,,40
2,88821,SM-A045MZKFARO,Celular Samsung Galaxy A04 128/4GB Black,-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,Galaxy A,1
3,88821,ZEN2,Envio a Domicilio (Andreani),-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,,1
4,88821,ZB2N,Cupon RENOVATUCELU 25% OFF en un pago,-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6276,86403,EF-GX700CBEGWW,Funda Samsung Galaxy Tab S8 con Correa Negra,-,2023-02-01,00:34:19,2023-02-02,00:06:03,NaN,simonsoardo@gmail.com,...,NaN,NaN,6.0,16,2,1.0,Mts,Kg,Accesorios para Tablets,1
6277,86403,ZEN2,Retiro Sucursal Multipoint CORDOBA (AV GENERAL...,-,2023-02-01,00:34:19,2023-02-02,00:06:03,NaN,simonsoardo@gmail.com,...,NaN,NaN,6.0,16,2,1.0,Mts,Kg,,1
6278,86403,ZB2N,Cupon ACCE2023M 25% OFF en un pago,-,2023-02-01,00:34:19,2023-02-02,00:06:03,NaN,simonsoardo@gmail.com,...,NaN,NaN,6.0,16,2,1.0,Mts,Kg,,1
6279,86402,SM-M135MZGGARO,Celular Samsung Galaxy M13 128/4GB Deep Green,-,2023-02-01,00:31:44,2023-02-06,23:58:50,NaN,carrizosrm@gmail.com,...,NaN,NaN,NaN,8,17,5.0,"0,30",Mts,Kg,Galaxy M
6280,86402,Moova3,Envio Rapido 24 hrs,-,2023-02-01,00:31:44,2023-02-06,23:58:50,NaN,carrizosrm@gmail.com,...,NaN,NaN,NaN,8,17,5.0,"0,30",Mts,Kg,

In [ ]:
#Conexión de segunda base de datos (Rating de peliculas de Netflix, sacada de Kaggle)
#Variables interesantes a analizar serían los tipos vs la popularidad para ver si es mas rentable hacer un show(serie) o una pelicula
#los generos también pueden llegar a hacer una variable interesante buscando predecir un rating por genero y asi poder ser mas eficaz
url = "https://raw.githubusercontent.com/GuidoSomoza/DS-project/main/Base%20de%20datos/project%20ds/titles.csv"
df2 = pd.read_csv(url,sep=",")

In [ ]:
pd.DataFrame(df2)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,NaN,81,"['family', 'comedy']",['KW'],NaN,NaN,NaN,NaN,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,NaN,120,['documentation'],['TR'],NaN,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,NaN,69,['comedy'],['US'],NaN,tt21033382,6.1,91.0,1.960,NaN
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,NaN,80,['drama'],['NG'],NaN,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,NaN,90,['family'],['AE'],NaN,tt4623222,7.0,40.0,NaN,NaN

In [21]:
#Conexión de tercera base de datos (Ventas de todos los canales de una empresa propios y no propios)
#variables potenciales: la facturación por canal y por categoría es una variable interesante para poder entender donde es mas rentable publicar
# también las marcas vs los canales,en que canales es mejor publicar ciertas marcas 
# epocas del mes, en que epoca se suele facturar mas si a principio de mes o a fin de mes
#Cantidad de devoluciones x marca 
path2 = "/content/DATASET FEBRERO 2023 MULTICANAL.xlsx"
df3=pd.read_excel(path2)

In [22]:
pd.DataFrame(df3)

,Fecha,Documento,Solicitante,Material(sku),Descrip,Cantidad,Precio,Moneda,Numero de pedido,Tipo pedido,...,Prec2,Año,Mes,Dia,Fecha2,Week,Canal,Subcanal,Marca,Categoria
0,20230201,1031397,1610.0,EP-TA20RWSCGAR,Cargador Ultra Fast USB Type-C (15w),1,363554,ARS,2000005034307540,Pedido,...,3635.54,2023,2,1,01/02/2023,5,Baires IT (ML),Mercado Libre,Samsung,Cargadores
1,20230201,1031398,1582.0,MZB0BX2EU,Redmi Note 11 128/4gb Twilight Blue,1,8264380,ARS,2000005034351066,Pedido,...,82643.80,2023,2,1,01/02/2023,5,Baires IT (ML),Mercado Libre,Xiaomi,NaN
2,20230201,1031399,1582.0,PE-ETA1001S,Peabody E-Termo 850w Inox,1,1480909,ARS,2000005034456162,Pedido,...,14809.09,2023,2,1,01/02/2023,5,Baires IT (ML),Mercado Libre,Peabody,Termo
3,20230201,1031400,1638.0,PAS50010AR,Moto G41 Negro Onix XT2167-1 128/4gb,1,6611488,ARS,2000005034493896,Pedido,...,66114.88,2023,2,1,01/02/2023,5,Baires IT (ML),Mercado Libre,Motorola,Celulares
4,20230201,1031401,1581.0,QN43QN90BAGCZB,"43"" TV Neo QLED 4K QN90B",1,25206529,ARS,2000005028032712,Pedido,...,252065.29,2023,2,1,01/02/2023,5,Baires IT (ML),Mercado Libre,Samsung,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5317,20230228,60095986,1594.0,AR24ASHQAWKZBG,Unidad Exterior 6530W Inverter,1,24731347,ARS,ML5106667,NC,...,-247313.47,2023,2,28,28/02/2023,9,Tienda Oficial,Mercado Libre,Samsung,Aires
5318,20230228,60095987,94.0,RT38K5932SL,Heladera 382Lt Ez Clean Steel,1,20132166,ARS,86632,NC,...,-201321.66,2023,2,28,28/02/2023,9,Multipoint,Multipoint,Samsung,Heladeras
5319,20230228,60095988,1582.0,UN65BU8000GCZB,"65"" Crystal UHD BU8000",1,22313967,ARS,2000005090751450,NC,...,-223139.67,2023,2,28,28/02/2023,9,Baires IT (ML),Mercado Libre,Samsung,NaN
5320,20230228,60095989,1582.0,AR12BSHQAWKYBG,Unidad Interior 3260W Inverter,1,5491711,ARS,2000004904430074,NC,...,-54917.11,2023,2,28,28/02/2023,9,Baires IT (ML),Mercado Libre,NaN,NaN
5321,20230228,60095989,1582.0,AR12BSHQAWKZBG,Unidad Exterior 3260W Inverter,1,12813991,ARS,2000004904430074,NC,...,-128139.91,2023,2,28,28/02/2023,9,Baires IT (ML),Mercado Libre,NaN,NaN