<a href="https://colab.research.google.com/github/GuidoSomoza/DS-project/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Selección de datasets potenciales

En este paso seleccionamos 3 potenciales datasets para trabajar y analizar las posibles variables a analizar. La finalidad de este poyecto busca analizar la mayor cantidad de  variables y entrenar un modelo de Machine Learning, por ende como requisito indispensable para las data sets será que tengan como minimo 15 columnas y mas de 2000 filas.

En este caso seleccionamos 3 datasets para analizar:

- Ventas de 2 ecommerce de una empresa de venta de productos tecnologicos
- Ventas de multiples canales propios y no propios de una empresa de venta de productos tecnologicos
- Rating de peliculas de Netflix

- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

In this step, we selected 3 potential datasets to work on and analyze the possible variables. The purpose of this project is to analyze the maximum number of variables and train a Machine Learning model. Therefore, an essential requirement for the datasets is that they have a minimum of 15 columns and more than 2000 rows.

In this case, we selected 3 datasets to analyze:

- Sales from 2 ecommerce platforms of a technology product sales company
- Sales from multiple owned and non-owned channels of a technology product sales company
- Netflix movie ratings

#Importando pandas

Importamos la librería de pandas

- - - - - - - - - - - - - -

We import the pandas library

In [2]:
import pandas as pd

In [ ]:
#Conexión de primer base de datos (datos de febrero2023 de 2 ecommerce "Multipoint" y "BairesIT"). Fue cargado al drive
# y subido como excel
#Como variables potenciales de interes serían: los usuarios que vuelven a comprar en la plataforma(si repiten producto categoría o ticket)
#También poder entender el crecimiento entre distintos horarios para asi poder analizar las ofertas nocturnas o diurnas
path = "data set febrero 2023.xlsx"
df1 = pd.read_excel(path)

In [ ]:
pd.DataFrame(df1)

,Id,Cod.Articulo,NombreArticulo,Fabrica,FechaCreacion,HoraCreacion,FechaModificacion,HoraModificacion,Fecha Entrega,Usuario,...,Ref. Interna,Ref. Externa,Ancho,Alto,Largo,Peso,Unidad de Medida,Unidad de Peso,Categoria,Cuotas
0,88822,SM-A536EZWAARO,Celular Samsung Galaxy A53 5G 128/6GB Awesome ...,-,2023-02-28,23:58:45,2023-02-28,23:58:45,NaN,graborzi@hotmail.com,...,NaN,NaN,8.0,17,5,0.3,Mts,Kg,Galaxy A,40
1,88822,ZEN2,Retiro en Sucursal Andreani,-,2023-02-28,23:58:45,2023-02-28,23:58:45,NaN,graborzi@hotmail.com,...,NaN,NaN,8.0,17,5,0.3,Mts,Kg,,40
2,88821,SM-A045MZKFARO,Celular Samsung Galaxy A04 128/4GB Black,-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,Galaxy A,1
3,88821,ZEN2,Envio a Domicilio (Andreani),-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,,1
4,88821,ZB2N,Cupon RENOVATUCELU 25% OFF en un pago,-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6276,86403,EF-GX700CBEGWW,Funda Samsung Galaxy Tab S8 con Correa Negra,-,2023-02-01,00:34:19,2023-02-02,00:06:03,NaN,simonsoardo@gmail.com,...,NaN,NaN,6.0,16,2,1.0,Mts,Kg,Accesorios para Tablets,1
6277,86403,ZEN2,Retiro Sucursal Multipoint CORDOBA (AV GENERAL...,-,2023-02-01,00:34:19,2023-02-02,00:06:03,NaN,simonsoardo@gmail.com,...,NaN,NaN,6.0,16,2,1.0,Mts,Kg,,1
6278,86403,ZB2N,Cupon ACCE2023M 25% OFF en un pago,-,2023-02-01,00:34:19,2023-02-02,00:06:03,NaN,simonsoardo@gmail.com,...,NaN,NaN,6.0,16,2,1.0,Mts,Kg,,1
6279,86402,SM-M135MZGGARO,Celular Samsung Galaxy M13 128/4GB Deep Green,-,2023-02-01,00:31:44,2023-02-06,23:58:50,NaN,carrizosrm@gmail.com,...,NaN,NaN,NaN,8,17,5.0,"0,30",Mts,Kg,Galaxy M
6280,86402,Moova3,Envio Rapido 24 hrs,-,2023-02-01,00:31:44,2023-02-06,23:58:50,NaN,carrizosrm@gmail.com,...,NaN,NaN,NaN,8,17,5.0,"0,30",Mts,Kg,

In [ ]:
#Conexión de segunda base de datos (Rating de peliculas de Netflix, sacada de Kaggle)
#Variables interesantes a analizar serían los tipos vs la popularidad para ver si es mas rentable hacer un show(serie) o una pelicula
#los generos también pueden llegar a hacer una variable interesante buscando predecir un rating por genero y asi poder ser mas eficaz
url = "https://raw.githubusercontent.com/GuidoSomoza/DS-project/main/Base%20de%20datos/project%20ds/titles.csv"
df2 = pd.read_csv(url,sep=",")

In [ ]:
pd.DataFrame(df2)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6132,tm1303784,عبود في البيت,MOVIE,Two young boys must work together to stop robb...,2023,NaN,81,"['family', 'comedy']",['KW'],NaN,NaN,NaN,NaN,3.351,2.000
6133,tm1260999,Sweetie,MOVIE,"‘Theatre is my life,’ Yıldız Kenter admits in ...",2023,NaN,120,['documentation'],['TR'],NaN,tt26349328,7.9,209.0,2.450,7.200
6134,tm1310286,Sommore: Queen Chandelier,MOVIE,This Queen of Comedy shines as she takes the s...,2023,NaN,69,['comedy'],['US'],NaN,tt21033382,6.1,91.0,1.960,NaN
6135,tm1072700,All Na Vibes,MOVIE,The lives of three teenagers and a hit-man int...,2023,NaN,80,['drama'],['NG'],NaN,tt14922926,5.2,18.0,1.357,4.000
6136,tm561709,Going to Heaven,MOVIE,"A story about young boy sultan, 11 years old l...",2023,NaN,90,['family'],['AE'],NaN,tt4623222,7.0,40.0,NaN,NaN

In [ ]:
#Conexión de tercera base de datos (Ventas de todos los canales de una empresa propios y no propios)
#variables potenciales: la facturación por canal y por categoría es una variable interesante para poder entender donde es mas rentable publicar
# también las marcas vs los canales,en que canales es mejor publicar ciertas marcas 
# epocas del mes, en que epoca se suele facturar mas si a principio de mes o a fin de mes
#Cantidad de devoluciones x marca 
path2 = "/content/DATASET FEBRERO 2023 MULTICANAL.xlsx"
df3=pd.read_excel(path2)

In [ ]:
pd.DataFrame(df3)

,Fecha,Documento,Solicitante,Material(sku),Descrip,Cantidad,Precio,Moneda,Numero de pedido,Tipo pedido,...,Prec2,Año,Mes,Dia,Fecha2,Week,Canal,Subcanal,Marca,Categoria
0,20230201,1031397,1610.0,EP-TA20RWSCGAR,Cargador Ultra Fast USB Type-C (15w),1,363554,ARS,2000005034307540,Pedido,...,3635.54,2023,2,1,01/02/2023,5,Baires IT (ML),Mercado Libre,Samsung,Cargadores
1,20230201,1031398,1582.0,MZB0BX2EU,Redmi Note 11 128/4gb Twilight Blue,1,8264380,ARS,2000005034351066,Pedido,...,82643.80,2023,2,1,01/02/2023,5,Baires IT (ML),Mercado Libre,Xiaomi,NaN
2,20230201,1031399,1582.0,PE-ETA1001S,Peabody E-Termo 850w Inox,1,1480909,ARS,2000005034456162,Pedido,...,14809.09,2023,2,1,01/02/2023,5,Baires IT (ML),Mercado Libre,Peabody,Termo
3,20230201,1031400,1638.0,PAS50010AR,Moto G41 Negro Onix XT2167-1 128/4gb,1,6611488,ARS,2000005034493896,Pedido,...,66114.88,2023,2,1,01/02/2023,5,Baires IT (ML),Mercado Libre,Motorola,Celulares
4,20230201,1031401,1581.0,QN43QN90BAGCZB,"43"" TV Neo QLED 4K QN90B",1,25206529,ARS,2000005028032712,Pedido,...,252065.29,2023,2,1,01/02/2023,5,Baires IT (ML),Mercado Libre,Samsung,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5317,20230228,60095986,1594.0,AR24ASHQAWKZBG,Unidad Exterior 6530W Inverter,1,24731347,ARS,ML5106667,NC,...,-247313.47,2023,2,28,28/02/2023,9,Tienda Oficial,Mercado Libre,Samsung,Aires
5318,20230228,60095987,94.0,RT38K5932SL,Heladera 382Lt Ez Clean Steel,1,20132166,ARS,86632,NC,...,-201321.66,2023,2,28,28/02/2023,9,Multipoint,Multipoint,Samsung,Heladeras
5319,20230228,60095988,1582.0,UN65BU8000GCZB,"65"" Crystal UHD BU8000",1,22313967,ARS,2000005090751450,NC,...,-223139.67,2023,2,28,28/02/2023,9,Baires IT (ML),Mercado Libre,Samsung,NaN
5320,20230228,60095989,1582.0,AR12BSHQAWKYBG,Unidad Interior 3260W Inverter,1,5491711,ARS,2000004904430074,NC,...,-54917.11,2023,2,28,28/02/2023,9,Baires IT (ML),Mercado Libre,NaN,NaN
5321,20230228,60095989,1582.0,AR12BSHQAWKZBG,Unidad Exterior 3260W Inverter,1,12813991,ARS,2000004904430074,NC,...,-128139.91,2023,2,28,28/02/2023,9,Baires IT (ML),Mercado Libre,NaN,NaN

#Elección de Dataset a utilizar
Luego de analizar detenidamente cada dataset desde el punto de vista tecnico y analitico decidí utilizar la dataset "df1" la cual tiene los datos de ventas de ambos ecommerce de una empresa. Seleccioné esta data set ya que al ser un ecommerce propio es viable que el modelo que se vaya a realizar pueda ponerse en producción en dichas tiendas.


- - - - - - - - -- - - - 

After carefully analyzing each dataset from a technical and analytical perspective, I decided to use the "df1" dataset, which contains the sales data from both ecommerce platforms of a company. I selected this dataset because as it is an in-house ecommerce, it is feasible for the model to be put into production in these stores.

In [ ]:
df1.describe()

,Id,Fecha Entrega,ID Empresa,Dni,Nro,Depto,CodigoPostal,Tel,Estado,Lista Blanca/ Dominio,Column1,Ref. Interna,Ref. Externa,Ancho,Alto,Largo,Peso
count,6281.000000,0.0,146.000000,6.281000e+03,5.972000e+03,0.0,6278.000000,4.559000e+03,6281.000000,1.540000e+03,1.547000e+03,3.240000e+02,0.0,4741.000000,6281.000000,6281.000000,6281.000000
mean,87624.470626,NaN,11.732877,1.991518e+09,2.634386e+06,NaN,2830.375916,4.161450e+09,0.873428,6.507544e+04,1.034907e+06,1.034580e+06,NaN,11.731913,16.164942,8.909091,34.553474
std,705.036154,NaN,7.288433,1.023936e+10,8.583383e+07,NaN,1981.920905,2.580809e+10,1.746624,1.314771e+05,2.063143e+03,1.879831e+03,NaN,17.480925,19.651361,8.068211,576.595259
min,86402.000000,NaN,8.000000,1.000000e+02,0.000000e+00,NaN,11.000000,3.667770e+05,-1.000000,-4.274980e+05,1.031404e+06,1.031451e+06,NaN,0.000000,0.000000,0.000000,0.100000
25%,87011.000000,NaN,8.000000,2.709718e+07,4.710000e+02,NaN,1612.000000,1.138888e+09,0.000000,0.000000e+00,1.033314e+06,1.033030e+06,NaN,8.000000,10.000000,5.000000,1.000000
50%,87623.000000,NaN,8.000000,3.508784e+07,1.209000e+03,NaN,1832.000000,1.164470e+09,0.000000,7.121450e+02,1.034834e+06,1.034610e+06,NaN,8.000000,16.000000,5.000000,1.000000
75%,88236.000000,NaN,8.000000,4.115064e+07,2.624000e+03,NaN,4000.000000,3.415424e+09,3.000000,8.799900e+04,1.036495e+06,1.035759e+06,NaN,10.000000,17.000000,10.000000,2.000000
max,88822.000000,NaN,35.000000,4.340395e+11,3.704941e+09,NaN,9420.000000,5.435843e+11,8.000000,1.999999e+06,1.040516e+06,1.038414e+06,NaN,169.000000,238.000000,76.000000,10501.080000

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6281 entries, 0 to 6280
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      6281 non-null   int64
 1    Cod.Articulo           6281 non-null   object
 2    NombreArticulo         6281 non-null   object
 3    Fabrica                6281 non-null   object
 4    FechaCreacion          6281 non-null   datetime64[ns]
 5    HoraCreacion           6281 non-null   object
 6    FechaModificacion      6281 non-null   datetime64[ns]
 7    HoraModificacion       6281 non-null   object
 8    Fecha Entrega          0 non-null      float64
 9    Usuario                6281 non-null   object
 10   ID Empresa             146 non-null    float64
 11   Empresa                146 non-null    object
 12   Nombre                 6281 non-null   object
 13   Apellido               5894 non-null   object
 14  Dni                     6281 non-null   int64
 15   Calle                  6274 non-null   object
 16   Nro                    5972 non-null   float64
 17   Piso                   1991 non-null   object
 18   Depto                  0 non-null      float64
 19   Provicia               6281 non-null   object
 20   Localidad              6245 non-null   object
 21   Barrio                 6242 non-null   object
 22   CodigoPostal           6278 non-null   float64
 23   Tel                    4559 non-null   float64
 24   Estado                 6281 non-null   int64
 25   DetalleEstado          6281 non-null   object
 26   Medio de Pago          6281 non-null   object
 27   Items                  6281 non-null   object
 28   Moneda                 6281 non-null   object
 29   Total                  6281 non-null   object
 30   Lista Blanca/ Dominio  1540 non-null   float64
 31   Tracking               1296 non-null   object
 32   DetalleMedioDePago     4315 non-null   object
 33   factura                1570 non-null   object
 34  Column1                 1547 non-null   float64
 35  Ref. Interna            324 non-null    float64
 36   Ref. Externa           0 non-null      float64
 37  Ancho                   4741 non-null   float64
 38  Alto                    6281 non-null   int64
 39  Largo                   6281 non-null   int64
 40  Peso                    6281 non-null   float64
 41  Unidad de Medida        6281 non-null   object
 42  Unidad de Peso          6281 non-null   object
 43  Categoria               6281 non-null   object
 44  Cuotas                  6281 non-null   object
dtypes: datetime64[ns](2), float64(12), int64(5), object(26)
memory usage: 2.2+ MB

In [ ]:
df1.shape

(6281, 45)

In [ ]:
df1

,Id,Cod.Articulo,NombreArticulo,Fabrica,FechaCreacion,HoraCreacion,FechaModificacion,HoraModificacion,Fecha Entrega,Usuario,...,Ref. Interna,Ref. Externa,Ancho,Alto,Largo,Peso,Unidad de Medida,Unidad de Peso,Categoria,Cuotas
0,88822,SM-A536EZWAARO,Celular Samsung Galaxy A53 5G 128/6GB Awesome ...,-,2023-02-28,23:58:45,2023-02-28,23:58:45,NaN,graborzi@hotmail.com,...,NaN,NaN,8.0,17,5,0.3,Mts,Kg,Galaxy A,40
1,88822,ZEN2,Retiro en Sucursal Andreani,-,2023-02-28,23:58:45,2023-02-28,23:58:45,NaN,graborzi@hotmail.com,...,NaN,NaN,8.0,17,5,0.3,Mts,Kg,,40
2,88821,SM-A045MZKFARO,Celular Samsung Galaxy A04 128/4GB Black,-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,Galaxy A,1
3,88821,ZEN2,Envio a Domicilio (Andreani),-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,,1
4,88821,ZB2N,Cupon RENOVATUCELU 25% OFF en un pago,-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6276,86403,EF-GX700CBEGWW,Funda Samsung Galaxy Tab S8 con Correa Negra,-,2023-02-01,00:34:19,2023-02-02,00:06:03,NaN,simonsoardo@gmail.com,...,NaN,NaN,6.0,16,2,1.0,Mts,Kg,Accesorios para Tablets,1
6277,86403,ZEN2,Retiro Sucursal Multipoint CORDOBA (AV GENERAL...,-,2023-02-01,00:34:19,2023-02-02,00:06:03,NaN,simonsoardo@gmail.com,...,NaN,NaN,6.0,16,2,1.0,Mts,Kg,,1
6278,86403,ZB2N,Cupon ACCE2023M 25% OFF en un pago,-,2023-02-01,00:34:19,2023-02-02,00:06:03,NaN,simonsoardo@gmail.com,...,NaN,NaN,6.0,16,2,1.0,Mts,Kg,,1
6279,86402,SM-M135MZGGARO,Celular Samsung Galaxy M13 128/4GB Deep Green,-,2023-02-01,00:31:44,2023-02-06,23:58:50,NaN,carrizosrm@gmail.com,...,NaN,NaN,NaN,8,17,5.0,"0,30",Mts,Kg,Galaxy M
6280,86402,Moova3,Envio Rapido 24 hrs,-,2023-02-01,00:31:44,2023-02-06,23:58:50,NaN,carrizosrm@gmail.com,...,NaN,NaN,NaN,8,17,5.0,"0,30",Mts,Kg,

In [ ]:
df1.head()

,Id,Cod.Articulo,NombreArticulo,Fabrica,FechaCreacion,HoraCreacion,FechaModificacion,HoraModificacion,Fecha Entrega,Usuario,...,Ref. Interna,Ref. Externa,Ancho,Alto,Largo,Peso,Unidad de Medida,Unidad de Peso,Categoria,Cuotas
0,88822,SM-A536EZWAARO,Celular Samsung Galaxy A53 5G 128/6GB Awesome ...,-,2023-02-28,23:58:45,2023-02-28,23:58:45,NaN,graborzi@hotmail.com,...,NaN,NaN,8.0,17,5,0.3,Mts,Kg,Galaxy A,40
1,88822,ZEN2,Retiro en Sucursal Andreani,-,2023-02-28,23:58:45,2023-02-28,23:58:45,NaN,graborzi@hotmail.com,...,NaN,NaN,8.0,17,5,0.3,Mts,Kg,,40
2,88821,SM-A045MZKFARO,Celular Samsung Galaxy A04 128/4GB Black,-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,Galaxy A,1
3,88821,ZEN2,Envio a Domicilio (Andreani),-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,,1
4,88821,ZB2N,Cupon RENOVATUCELU 25% OFF en un pago,-,2023-02-28,23:38:00,2023-02-28,23:46:51,NaN,flor.altamirano66@gmail.com,...,NaN,NaN,8.0,17,5,1.0,Mts,Kg,,1

#Actualización de Dataset

Luego de un breve analisis pensé que sería mejor tener mas cantidad de datos para que nuestro algoritmo de Machine Learning tenga la data necesaria para poder trabajar de manera efectiva. Por ello se englobaron los primeros 3 meses y se subió a un repositorio de GitHub para luego realizar la conexión con dicha dataset. 

Las columnas son las mismas que la dataset que elegimos, lo unico que cambió fue la cantidad de filas. Por ende nuestra dataset definitiva tiene los datos de ventas de 2 ecommerce en el lapso de Enero 2023 - Marzo 2023.

------------------------

After a brief analysis, I thought it would be better to have more data for our Machine Learning algorithm to have the necessary data to work effectively. Therefore, the first three months were grouped together and uploaded to a GitHub repository for later connection to the dataset.

The columns are the same as the chosen dataset, the only thing that changed was the number of rows. Hence, our final dataset has sales data from 2 e-commerce platforms during the period from January 2023 to March 2023.

In [3]:
path2 = "https://raw.githubusercontent.com/GuidoSomoza/DS-project/main/data%20set%20Enero-Febrero%20-%20Marzo%202023.csv"
df3 = pd.read_csv(path2,sep=";")

<ipython-input-3-687834cf5202>:2: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(path2,sep=";")

In [4]:
df3 = pd.DataFrame(df3)

In [5]:
df3.shape

(22631, 47)

In [6]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22631 entries, 0 to 22630
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        22631 non-null  int64
 1   Cod.Articulo              22631 non-null  object
 2   Sitio                     22631 non-null  object
 3   NombreArticulo            22631 non-null  object
 4   Fabrica                   22631 non-null  object
 5   FechaCreacion             22631 non-null  object
 6   HoraCreacion              22631 non-null  object
 7   FechaModificacion         22631 non-null  object
 8   HoraModificacion          22631 non-null  object
 9   Mes                       22631 non-null  int64
 10  Fecha Entrega             0 non-null      float64
 11  Usuario                   22629 non-null  object
 12  ID Empresa                480 non-null    float64
 13  Empresa                   480 non-null    object
 14  Nombre                    22631 non-null  object
 15  Apellido                  21363 non-null  object
 16  Dni                       22631 non-null  object
 17  Calle                     22615 non-null  object
 18  Nro                       21687 non-null  object
 19  Piso                      7540 non-null   object
 20  Depto                     0 non-null      float64
 21  Provicia                  22631 non-null  object
 22  Localidad                 22434 non-null  object
 23  Barrio                    22428 non-null  object
 24  CodigoPostal              22631 non-null  object
 25  Tel                       16900 non-null  object
 26  Estado                    22631 non-null  int64
 27  DetalleEstado             22631 non-null  object
 28  Medio de Pago             22631 non-null  object
 29  Items                     22631 non-null  int64
 30  Moneda                    22631 non-null  object
 31  Total                     22631 non-null  object
 32  Lista Blanca/ Dominio     0 non-null      float64
 33  Tracking                  5768 non-null   object
 34  DetalleMedioDePago        17267 non-null  object
 35  factura                   163 non-null    object
 36  Ref. Interna              6490 non-null   float64
 37  Ref. Externa              22 non-null     object
 38  Ancho                     22631 non-null  object
 39  Alto                      22631 non-null  object
 40  Largo                     22631 non-null  object
 41  Peso                      22631 non-null  object
 42  Unidad de Medida          22631 non-null  object
 43  Unidad de Peso            22631 non-null  object
 44  Categoria                 9216 non-null   object
 45  Porcentaje de Descuentos  9211 non-null   float64
 46  Cuotas                    22631 non-null  int64
dtypes: float64(6), int64(5), object(36)
memory usage: 8.1+ MB

In [7]:
df3.isnull().sum()

Id                              0
Cod.Articulo                    0
Sitio                           0
NombreArticulo                  0
Fabrica                         0
FechaCreacion                   0
HoraCreacion                    0
FechaModificacion               0
HoraModificacion                0
Mes                             0
Fecha Entrega               22631
Usuario                         2
ID Empresa                  22151
Empresa                     22151
Nombre                          0
Apellido                     1268
Dni                             0
Calle                          16
Nro                           944
Piso                        15091
Depto                       22631
Provicia                        0
Localidad                     197
Barrio                        203
CodigoPostal                    0
Tel                          5731
Estado                          0
DetalleEstado                   0
Medio de Pago                   0
Items                           0
Moneda                          0
Total                           0
Lista Blanca/ Dominio       22631
Tracking                    16863
DetalleMedioDePago           5364
factura                     22468
Ref. Interna                16141
Ref. Externa                22609
Ancho                           0
Alto                            0
Largo                           0
Peso                            0
Unidad de Medida                0
Unidad de Peso                  0
Categoria                   13415
Porcentaje de Descuentos    13420
Cuotas                          0
dtype: int64